@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  outline: none !important;
}
body{
  font-family: 'Poppins', sans-serif;
}
header {
  position: relative;
  z-index: 100;
}
p {
  font-size: 1.15rem;
}
.navbar {
  background: transparent!important;
  transition: 2s;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.99)!important;

}
.navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #000;
  background: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
  color: rgba(255,255,255,1);
  font-sixe: 2.5rem;
  font-weight: 600;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited{
  color: rgba(255,255,255,.9);
}
.banner {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url('../img/banner.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
.banner:before,
.sec-two:before {
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background: linear-gradient(360deg, #000, transparent);

  pointer-events: none;
}
.banner:after,
.sec-two:after {
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background: linear-gradient(180deg, #000, transparent);
  pointer-events: none;
}
.height100p {
  height: 100vh;
}
.h100 {
  height: 100%;
}
.contentBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  h1 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
  }
  p {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
  }
}
.sec-one {
  padding: 100px 0;
  background: #000;
}
.headerText {
  color: #fff;
  h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}
.placeBox {
  position: relative;
  max-width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  .imgBox {
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    h3 {
      position: relative;
      margin: 0;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      width: 100%;
      text-align: center;
      span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
.sec-two {
  position: relative;
  background: url('../img/banner-2.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  h2 {
    font-weight: 800;

  }
}